<h1>Login</h1>
<form>
        <input type="text" name="username" id="username" placeholder="username" />
        <input type="password" name="password" id="username" placeholder="password" />
        <button>Submit</button>
</form>
